@model Capital.Domain.InsuranceProduct
<div class="row">
    <div class="col-md-12">
        <div class="row form-group">
            <div class="col-md-3">
                <label>Insurance Name</label>
                @Html.HiddenFor(m => m.InsPrdId)
                @Html.TextBoxFor(m => m.InsPrdName, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.InsPrdName, "", new { @class = "text-danger" })               
            </div>
        </div>
    </div>
</div>
<div class="row">
    @*<div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Insurance Short Name</label>
              @Html.TextBoxFor(m => m.InsPrdShortName, new { @class = "form_input" })
            @Html.ValidationMessageFor(m => m.InsPrdShortName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Insurance Type</label>
                @Html.DropDownListFor(m => Model.InsTypeId, (SelectList)ViewBag.InsuranceType, "Select Insurance Type", new { @class = "form_input", autocomplete = "off" })
            </div>
        </div>
    </div>
    @*<div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Insurance Company</label>
                @Html.DropDownListFor(m => Model.InsCmpId, (SelectList)ViewBag.InsuranceCompany, "Select Insurance Company", new { @class = "form_input", autocomplete = "off" })
            </div>
        </div>
    </div>*@
    @*<div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-8">
                <label>Active Date</label>
                <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    @Html.TextBoxFor(m => m.InsActiveDate, new { @class = "form_input" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>                
                @Html.ValidationMessageFor(m => m.InsActiveDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@
</div>

@*<hr />
<h2>Insurance Product Parameter&nbsp;<button type="button" class="create">...</button></h2>
<div class="table-responsive scroll1">
     <table class="table table-bordered " id="tab_logic">
        <tr class="grid_heading">
          
            <th width="40%"><h1>Parametres</h1></th>
            <th width="60%"><h1>Description</h1></th>
           

        </tr>
        @for (int i = 0; i < Model.ProductParameters.Count(); i++)
        {
            <tr>
             
                <td width="40%">
                @Html.TextBoxFor(model => Model.ProductParameters[i].InsPrdParamName, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                @Html.HiddenFor(m => m.ProductParameters[i].InsPrdParamId)
                </td>
                <td width="60%">@Html.TextBoxFor(model => Model.ProductParameters[i].InsParamValue, new { @class = "form_input", autocomplete = "off" })</td>
              
            </tr>
        }
    </table>

</div>*@
