@model Capital.Domain.CustomerInvoice
@{
    ViewBag.Title = "Create";
}

<div class="container content-in">
    <div class="row">
        <h1>Customer Invoice</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label>Invoice No.</label>
                    @Html.TextBoxFor(m => m.CusInvoiceRefNo, new { @class = "form_input", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.CusInvoiceRefNo, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label>Date</label>
                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        @Html.TextBoxFor(m => m.CusInvoiceDate, new { @class = "form_input", @Value = Model.CusInvoiceDate.Value.ToString("dd-MMM-yyyy") })
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Customer</label>
                    @Html.TextBoxFor(m => m.CusName, new { @class = "form_input", @readonly = "readonly" })
                </div>
            </div>
        </div>
        @*<div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Insured Name</label>
                    @Html.TextBoxFor(m => m.CusInvoiceRefNo, new { @class = "form_input", @readonly = "readonly" })
                </div>
            </div>
        </div>*@
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label> Customer Order Ref.No.</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Customer address 1</label>
                    @Html.TextBoxFor(m => m.Address1, new { @class = "form_input", @readonly = "readonly" })
                </div>
            </div>
        </div>
             <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Customer address 2</label>
                    @Html.TextBoxFor(m => m.Address2, new { @class = "form_input", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Customer address 3</label>
                    @Html.TextBoxFor(m => m.Address3, new { @class = "form_input", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
            </div>
        </div>
    </div>
    <hr />
    <div class="table-responsive scroll2">
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="22%">Insurance Company</th>
                    <th width="7%">Insurance Type</th>
                    <th width="7%">Insured Name</th>
                    <th width="7%">Policy No.</th>
                    <th width="7%">Effective date</th>
                    <th width="7%" class="text-right">Qty</th>
                    <th width="7%">UoM</th>
                    <th width="7%" class="text-right">Rate</th>
                    <th width="7%" class="text-right">Discount</th>
                    <th width="7%" class="text-right">Amount</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <tr>
                        <td>@Html.TextBoxFor(m => m.Items[i].InsCmpName, new { @class = "form_input numbers-only", autocomplete = "off", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].TranType, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].InsuredName, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].PolicyNo, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })</td>
                        <td>
                        @Html.TextBoxFor(m => m.Items[i].EffectiveDate, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        </td>
                     
                        <td>@Html.TextBoxFor(m => m.Items[i].Qty, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                    
                        <td>@Html.TextBoxFor(m => m.Items[i].Unit, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].Rate, new { @class = "form_input numbers-only", @style = "text-align:right", autocomplete = "off", @readonly = "readonly", @onchange = "TextChanged(" + i + ");" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].Discount, new { @class = "form_input clAmount", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].Amount, new { @class = "form_input numbers-only", @style = "text-align:right", autocomplete = "off", @onchange = "TextChanged(" + i + ");" })</td>
                        

                    </tr>
                }

            </tbody>

        </table>
        <table class="table table-bordered" id="tab_logic">
            <tr class="grid_heading footer">
                <th width="65%">&nbsp;</th>
                <th width="35%">Total</th>
            </tr>
        </table>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="row form-group">





                <div class="col-md-12">
                    <label>Special Remarks</label>
                    @Html.TextBoxFor(m => m.SpecialRemarks, new { @class = "form_input" })
                </div>
                <div class="col-md-12">
                    <label>Payment Terms</label>
                    @Html.TextBoxFor(m => m.PaymentTerms, new { @class = "form_input" })
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row form-group">




                <div class="col-md-4">
                    <label>Additional Remarks</label>
                    @Html.TextBoxFor(m => m.AdditionRemarks, new { @class = "form_input" })
                </div>
                <div class="col-md-2">
                    <label class="text-right">Add.Amount</label>
                    @Html.TextBoxFor(m => m.Addition, new { @class = "form_input" })
                </div>

                <div class="col-md-4">
                    <label>Deduction Remarks</label>
                    @Html.TextBoxFor(m => m.DeductionRemarks, new { @class = "form_input" })
                </div>
                <div class="col-md-2">
                    <label class="text-right">Ded.Amount</label>
                    @Html.TextBoxFor(m => m.Deduction, new { @class = "form_input" })
                </div>
                <div class="col-md-3">
                    <label>Bill Due Date</label>
                    @Html.TextBoxFor(m => m.SalesInvoiceDueDate, new { @class = "form_input" })
                </div>



            </div>
        </div>

    </div>

    <div class="row">
        <hr />
        <div class="col-md-12">
            <button type="button" class="form-button" onclick="Previous()">Previous</button>
            <button type="button" class="form-button right">Print</button>
            <button type="button" class="form-button right">Save</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>

<script>
    function Previous() {
        var url = '@Url.Action("PreviousCustomerInvoice", "Customer_Invoice")'
        window.location = url;
    }

</script>