@model Capital.Domain.CustomerInvoice
@{
    ViewBag.Title = "Create";
}
<script>
    $(document).ready(function () {
        Cal_Summary()
    })
    function Cal_Summary() {
        var Total = parseFloat("0");
        $('.ClTotal').each(function (i, obj) {
            var tot = parseFloat($(obj).val());
            if (isNaN(tot)) {
                tot = Number("0");
            }
            Total = (Total + tot);
            $("#TotalAmt").text(Total);
        });
    }
    function Exit() {
        var url = '@Url.Action("Index", "Customer_Invoice")';
        location.href = url;
    }
</script>
<div class="container content-in">
    <div class="row">
        <h1>Customer Invoice</h1>
    </div>
@using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "box_form" }))
    {
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label>Invoice No.</label>
                    @Html.TextBoxFor(m => m.CusInvoiceRefNo, new { @class = "form_input", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.CusInvoiceRefNo, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label>Date</label>
                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        @Html.TextBoxFor(m => m.CusInvoiceDate, new { @class = "form_input", @Value = Model.CusInvoiceDate.Value.ToString("dd-MMM-yyyy") })
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Customer</label>
                    @Html.TextBoxFor(m => m.CusName, new { @class = "form_input", @readonly = "readonly" })
                    @Html.HiddenFor(m => m.CusId)
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Customer address 1</label>
                    @Html.TextBoxFor(m => m.Address1, new { @class = "form_input", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Customer address 2</label>
                    @Html.TextBoxFor(m => m.Address2, new { @class = "form_input", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Customer address 3</label>
                    @Html.TextBoxFor(m => m.Address3, new { @class = "form_input", @readonly = "readonly" })
                </div>
            </div>
        </div>
        </div>
 
    <hr />
    <div class="table-responsive scroll2">
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="30%">Insurance Company</th>
                    <th width="20%">Insurance Type</th>
                    <th width="20%">Insured Name</th>
                    <th width="10%">Policy/Endorsement No.</th>
                    <th width="10%">Effective date</th>
                    <th width="10%" class="text-right">Premium(QR)</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <tr>
                        <td>@Html.TextBoxFor(m => m.Items[i].InsCmpName, new { @class = "form_input numbers-only", autocomplete = "off", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].TranType, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].InsuredName, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })</td>
                        <td>
                        @Html.TextBoxFor(m => m.Items[i].PolicyNo, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.Items[i].PolicyId)
                        </td>
                        <td>
                        @*@Html.TextBoxFor(m => m.Items[i].EffectiveDate, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })*@
                            <div class="input-group date " data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                @Html.TextBoxFor(m => m.Items[i].EffectiveDate, new { @class = "form_input", @readonly = "readonly" })
                                @*<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>*@
                            </div>
                        </td>
                        <td>@Html.TextBoxFor(m => m.Items[i].TotalPremium, new { @class = "form_input ClTotal", @style = "text-align:right", autocomplete = "off", @readonly = "readonly", @onchange = "TextChanged(" + i + ");" })</td>
                    </tr>
                }

            </tbody>

        </table>
        <table class="table table-bordered" id="tab_logic">
            <tr class="grid_heading footer">
                <th width="90%" class="text-right">&nbsp;Total:</th>
                <th width="10%" class=" text-right"><span id="TotalAmt"></span></th>
            </tr>
        </table>
    </div>
    @*<hr />*@
    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
               <div class="col-md-12">
                    <label>Special Remarks</label>
                    @Html.TextBoxFor(m => m.SpecialRemarks, new { @class = "form_input" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <hr />
        <div class="col-md-12">
          
            @*<button type="button" class="form-button right">Print</button>*@
            <button type="submit" class="form-button right">Save</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>
}
</div>

@*<script>
    function Previous() {
        var url = '@Url.Action("PreviousCustomerInvoice", "Customer_Invoice")'
        window.location = url;
    }

</script>*@