@*@model IList<Capital.Domain.PolicyIssue>*@
@using Capital.Domain
@model IList<PolicyIssue>
@{
    ViewBag.Title = "Index";
}
<script>
    function Validation() {
        var count = 0;

        $(".clcheck").each(function (i, obj) {

            alert("hi");
            if ($(obj).is(':checked')) {

                count = count + 1;

            }

        });

        if ($("#cboClient").val() == '') {
            alert("Select Client.");
            $('#cboClient').focus();
            return false;
        }
        //if (count == 0) {
        //    alert("Select Atleast One Record...");
        //    return false;
        //}
    }
    function Proceed()
    {
        if ($("#cboClient").val() == '') {
            alert("Select Client");
            $('#cboClient').focus();
        }
        else
        {
            var url = '@Url.Action("Create")'
            window.location = url;
        }
        
    }
    function Filter(sender)
    {
        var id = $(sender).val();
        var url = '@Url.Action("PendingPolicyForCustomerInvoice")';
        $("#Cus_Inv").load(url, { ClientId: id });
    }
</script>
<div class="container content-in">
    <div class="row">
        <h1>Pending Policy for Customer Invoice</h1>
    </div>
    <form method="post" onsubmit="return Validation()" action="@Url.Action("Create", "Customer_Invoice")">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <label>Client</label>
                        @Html.DropDownListFor(m => Model[0].CusId, (SelectList)ViewBag.Customer, "Select Client", new { @id = "cboClient", @class = "form_input", autocomplete = "off", @onchange = "Filter(this)" })
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div id="Cus_Inv">
            @Html.Action("PendingPolicyForCustomerInvoice")
        </div>
        <div class="row">
            <hr />
            <div class="col-md-offset-8 col-md-4">
                <button type="submit" class="form-button right">Proceed</button>
                @*<button type="button" class="form-button right" onclick="Proceed()">Create</button>*@
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            </div>
        </div>
        </form>
</div>


