
@model IEnumerable<Capital.Domain.PolicyIssue>
<script>
function getpolicyDetails(Id)
    {
        var url = '@Url.Action("PolicyDetailsPopUp")';
        url += '?id=' + Id;
        $('#policydetails').html('Loading Policy Details...<br><br>');
        $('#policydetails').load(url);
      
   }
</script>
 

    <div class="col-md-12">
        <table class="scrollTable table table-bordered" id="aaa" data-placement="bottom">
            <thead>
                <tr class="grid_heading">
                    <th width="1%" class="text-center">#</th>
                    <th width="34%">Insurance Company</th>
                    <th width="7%" class="text-right" nowrap>Receivable</th>

                </tr>
            </thead>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                ++i;
                <tbody class="grid_row">
                    <tr>
                        <td class="grid-cell text-center">@i</td>
                        <td onclick="getpolicyDetails(@item.InsCmpId)" class="grid-cell  lblue" value="Get Policy Details" style="width: 150px;cursor:pointer;" data-toggle="modal" data-target="#Policydetailspopup">@item.InsCmpName</td>
                        <td class ="grid-cell text-right">@item.CommittedAmt </td>
                    </tr>

                </tbody>
            }
        </table>
    </div>



    <div id="Policydetailspopup" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" style="width:800px">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Policy Details</h4>
                </div>
                <div class="modal-body">
                    <div id="policydetails"></div>
                </div>

            </div>

        </div>
    </div>
