@model List<Capital.Domain.AgeingSummary>
@using GridMvc.Html

<style type="text/css">
    .colour-Red {
        color: red !important;
    }
</style>
<script>
    function MoreDetails(id, cusName) {

        var url = '@Url.Action("DetailsPopup")';
        url += "?id=" + id;
        $("#div-details").text('Loading...');
        $("#div-details").load(url);
        $('#myModalLabel').text(cusName);
        $('#details-modal').modal('show');
    }

    function ExportAgeingSummarypopup() {
        var CusName = $('#myModalLabel').text();
        var url = '@Url.Action("ExportAgeingSummaryPopup", "AgeingSummaryReport")';
        url += '?cusname=' + CusName;
        window.location = url;
    }
</script>

<!-- modal to show details -->
<div id="details-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="width:1250px">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="modal-header">
                        <strong><h4 class="modal-title" id="myModalLabel">Customer</h4></strong>
                    </div>
                </div>
                <div class="col-md-9">

                    <input type="button" class="export form-button right" onclick="ExportAgeingSummarypopup()" value="Export to Excel" />
                </div>
            </div>
            <div class="modal-body" id="div-details">
                Loading...
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>
@*<div class="table-responsive scroll3">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(m => m.CusName).Titled("Customer").SetWidth(12);
        columns.Add(m => m.TotalPremium).Titled("Total Receivable").SetWidth(10).Css("text-right").Format("{0:#}");
        columns.Add(m => m.Overdue).Css("colour-Red").Titled("Overdue").SetWidth(7).Css("text-right");
        columns.Add(m => m.Amount1).Titled("0-15").SetWidth(10).Css("text-right");
        columns.Add(m => m.Amount2).Titled("15-30").SetWidth(7).Css("text-right");
        columns.Add(m => m.Amount3).Titled("30-60").SetWidth(7).Css("text-right");
        columns.Add(m => m.Amount4).Titled("60-90").SetWidth(7).Css("text-right");
        columns.Add(m => m.Amount5).Titled(">90").SetWidth(7).Css("text-right");
    }).WithPaging(15)*@

<div>
    <table class="table table-bordered table-hover" id="aaa" data-placement="bottom">
        <thead>
            <tr class="grid_heading">

                <th width="30%">Customer</th>
                <th width="10%" class="text-right">Total Receivable</th>
                <th width="10%" class="text-right">Overdue</th>
                <th width="10%" class="text-right">(0-15)</th>
                <th width="10%" class="text-right">(15-30)</th>
                <th width="10%" class="text-right">(30-60)</th>
                <th width="10%" class="text-right">(60-90)</th>
                <th width="10%" class="text-right">(90-180)</th>
            </tr>
        </thead>
        <tbody class="grid_row">
            @{

                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            <a onclick="MoreDetails(@Model[i].CusId, '@Model[i].CusName')">@Model[i].CusName</a>
                        </td>
                        <td> @Model[i].TotalPremium </td>
                        <td class="colour-Red text-right"> @Model[i].Overdue </td>
                        <td class="text-right">@Model[i].Amount1 </td>
                        <td class="text-right">@Model[i].Amount2 </td>
                        <td class="text-right">@Model[i].Amount3 </td>
                        <td class="text-right">@Model[i].Amount4 </td>
                        <td class="text-right">@Model[i].Amount5 </td>


                        @*<td class="text-center">
                                <input type="button" class="form-button1" onclick="ShowDetails(@Model[i].MonthCode)" value="Details" title="Click to see policy details" />
                            </td>*@
                    </tr>
                }

            }
        </tbody>
    </table>
</div>
