@model IEnumerable<Capital.Domain.SalesAchievement>

<div class="table-responsive scroll3">
    <table class="table table-bordered" id="tab_logic">
@if (Model.Count() > 0)
{
        <thead>
            <tr class="grid_heading">


                <th width="5%" class="span">
                    <table class="table table-bordered table-hover" id="tab_logic">
                        <thead>
                            <tr><th><span class="code">Code</span></th></tr>

                        </thead>
                        <tbody>
                           
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.SalesMgCode</td>
                                    </tr>
                            }
                        </tbody>
                    </table>
                </th>

                <th width="15%" class="span">
                    <table class="table table-bordered table-hover" id="tab_logic">
                        <thead>
                            <tr><th><span class="manager">Employee Name</span></th></tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.SalesMgName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </th>

                <th width="20%" class="span">
                    <table class="table table-bordered table-hover" id="tab_logic">
                        <thead>
                            <tr><th colspan="4"><center>Quarter 1</center></th></tr>
                            <tr><th width="25%">BenchMark</th><th width="25%">Commission</th><th width="25%">Incentive %</th><th width="25%">Incentive Amt</th></tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td width="25%">@item.Target1</td>
                                    <td width="25%">@item.Achvd1</td>
                                    <td width="25%">@item.AchvdPerc1</td>
                                    <td width="25%">@item.Q1Shortfall</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </th>
                <th width="20%" class="span">
                    <table class="table table-bordered table-hover" id="tab_logic">
                        <thead>
                            <tr><th colspan="4"><center>Quarter 2</center></th></tr>
                            <tr><th width="25%">BenchMark</th><th width="25%">Commission</th><th width="25%">Incentive %</th><th width="25%">Incentive Amt</th></tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td width="25%">@item.Target2</td>
                                    <td width="25%">@item.Achvd2</td>
                                    <td width="25%">@item.AchvdPerc2</td>
                                    <td width="25%">@item.Q2Shortfall</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </th>
                <th width="20%" class="span">
                    <table class="table table-bordered table-hover" id="tab_logic">
                        <thead>
                            <tr><th colspan="4"><center>Quarter 3</center></th></tr>
                            <tr><th width="25%">BenchMark</th><th width="25%">Commission</th><th width="25%">Incentive %</th><th width="25%">Incentive Amt</th></tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td width="25%">@item.Target3</td>
                                    <td width="25%">@item.Achvd3</td>
                                    <td width="25%">@item.AchvdPerc3</td>
                                    <td width="25%">@item.Q3Shortfall</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </th>
                <th width="20%" class="span">
                    <table class="table table-bordered table-hover" id="tab_logic">
                        <thead>
                            <tr><th colspan="4"><center>Quarter 4</center></th></tr>
                            <tr><th width="25%">BenchMark</th><th width="25%">Commission</th><th width="25%">Incentive %</th><th width="25%">Incentive Amt</th></tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td width="25%">@item.Target4</td>
                                    <td width="25%">@item.Achvd4</td>
                                    <td width="25%">@item.AchvdPerc4</td>
                                    <td width="25%">@item.Q4Shortfall</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </th>
        </thead>
                          
                            }
                            else
                            {
<tr>
    <td colspan="6" align="center" valign="middle">
        <em>pls enter sales target and then select an year</em>
    </td>
</tr>
                            }
    </table>
</div>