@model Capital.Domain.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="container content-in">
    <div class="row">
        <h1>Create User</h1>
    </div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Email</label>
                        @Html.HiddenFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form_input" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Email</label>
                        @Html.HiddenFor(m => m.Password)
                        @Html.TextBoxFor(m => m.Password, new { @class = "form_input" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Email</label>
                        @Html.HiddenFor(m => m.ConfirmPassword)
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form_input" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
