@model Capital.Domain.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="container content-in">
    <div class="row">
        <h1>Create User</h1>
    </div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>User Name</label>
                        @Html.HiddenFor(m => m.UserId)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form_input" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Email</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form_input" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form_input" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Confirm Password</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form_input" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>User Role</label>
                        @Html.DropDownListFor(m => Model.UserRole, (SelectList)ViewBag.InsuranceType, "Select Role", new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <hr />
        <div class="col-md-12">
            <button type="submit" class="form-button">Register</button>  
        </div>
    </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
