@model List<Capital.Domain.User>
@using GridMvc.Html
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function Edit(id) {
        var url = '@Url.Action("Register")';
        url = url + "?Id=" + id;
        window.location.href = url;
    }
    function Create() {
        var url = '@Url.Action("Register")';
        window.location = url;
    }
    function Exit() {
        var url = '@Url.Action("Index","Home")';
        window.location = url;
    }
    $(document).ready(function () {

        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,

            "timeOut": "0",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != "") {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != "") {
            toastr.error('@TempData["error"]');
        }
    });
</script>

<div class="container content-in">
    <div class="row">
        <h1>User List</h1>
    </div>
    <div class="row">

        <div class="col-md-4">
          
        </div>
    </div>
    <br />
    <div class="table-responsive scroll3">
    
        @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(m => m.UserName).Titled("User Name").SetWidth(12);
            columns.Add(m => m.UserEmail).Titled("Email").SetWidth(12);
            columns.Add(m => m.RoleName).Titled("Role").SetWidth(12);
            columns.Add(m => m.ModuleNames).Titled("Modules").SetWidth(12);
            columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Css("cent text-center").RenderValueAs(m => @<a href="@Url.Action("Register", new { UserId = m.UserId })">Edit</a>);

        }).WithPaging(15).SetRowCssClasses(x => x.UserName == x.UserName ? "rowfocus" : "")
    </div>
    <div class="row-count1">
        <h5>Row Count:- @Model.Count</h5>
    </div>
    <div class="row">
        <hr />

        <div class="col-md-12 hrpart">
            <button type="button" class="form-button " onclick="Create()">Create</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>


        </div>
    </div>
</div>


@*<div class="container content-in">
    <div class="row">
        <h1>User List</h1>
    </div>
    <div class="main-part pad1 ">
      
        <div class="main-grid main-grid-top scroll1">
            <div class=" table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="grid_heading">
                            <th style="width:15%;">User Name</th>
                            <th style="width:15%;">Email</th>
                            <th style="width:15%;">Role</th>
                            <th style="width:60%;">Modules</th>
                            <th style="width:10%;"></th>
                           
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody class="grid_row">
                            <tr>
                                <td class="grid-cell">@item.UserName</td>
                                <td class="grid-cell">@item.UserEmail</td>
                                <td class="grid-cell">@item.UserEmail</td>
                                <td class="grid-cell">@item.RoleName</td>
                                <td><center><button class="form-button4" onclick="Edit(@item.UserId)">View</button></center></td>
                                <td class="grid-cell"></td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>

        <div class="row-count1">
            <h5>Row Count:- @Model.Count</h5>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="submit" class="form-button" onclick="Create();">Create</button>
                <button type="button" class="form-button right" onclick="Exit();">Exit</button>
            </div>

        </div>
     
    </div>
</div>*@



