@model Capital.Domain.InsuranceCompany
<div class="row">
    <div class="col-md-12">
        <div class="row form-group">
            <div class="col-md-3">
                <label>Company Name</label>
                @Html.TextBoxFor(m => m.InsCmpName, new { @class = "form_input" })
                @Html.HiddenFor(m => m.InsCmpId)
                @Html.ValidationMessageFor(m => m.InsCmpName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Address 1</label>
                @Html.TextAreaFor(m => m.Address1, new { @class = "form_input text-area" })
                @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Contact Person 1</label>
                @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.ContactPerson, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Contact Person 2</label>
                @Html.TextBoxFor(m => m.ContactPerson2, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.ContactPerson2, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Contact Person 3</label>
                @Html.TextBoxFor(m => m.ContactPerson3, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.ContactPerson3, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12 mbb">
                <label>PO Box</label>
                @Html.TextBoxFor(m => m.Address2, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.Address2, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Designation</label>
                @Html.TextBoxFor(m => m.Designation , new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.Designation, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Designation</label>
                @Html.TextBoxFor(m => m.Designation2, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.Designation2, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Designation</label>
                @Html.TextBoxFor(m => m.Designation3, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.Designation3, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12 mbb">
                <label>CR No.</label>
                @Html.TextBoxFor(m => m.Address3, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.Address3, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Contact No.</label>
                @Html.TextBoxFor(m => m.ContactNo, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.ContactNo, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Contact No.</label>
                @Html.TextBoxFor(m => m.ContactNo2, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.ContactNo2, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Contact No.</label>
                @Html.TextBoxFor(m => m.ContactNo3, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.ContactNo3, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12 mbb1">
                @*<label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
            </div>
            <div class="col-md-12">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email2, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.Email2, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email3, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.Email3, "", new { @class = "text-danger" })
            </div>
          
        </div>
    </div>
</div>
