<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Capital Insurance Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>

    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="nav nav-pills nav-stacked">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#first-level-1">Admin<span class="caret arrow"></span></a>
                    <div id="first-level-1" class="collapse">
                        <ul>
                            <li>
                                <a href="@Url.Action("Create","Customer")" data-toggle="collapse" data-target="#second-level-1">Customer</a>
                                <a href="@Url.Action("Employee", "admin")" data-toggle="collapse" data-target="#second-level-1">Sales Manager</a>
                                <a href="@Url.Action("Insurance", "admin")" data-toggle="collapse" data-target="#second-level-1">Insurance Company</a>
                                <a href="@Url.Action("InsuranceProduct", "admin")" data-toggle="collapse" data-target="#second-level-1">Insurance Product</a>
                            </li>
                        </ul>
                    </div>

                    <a href="#" data-toggle="collapse" data-target="#first-level-2">Operation<span class="caret arrow"></span></a>
                    <div id="first-level-2" class="collapse">
                        <ul>
                            <li>
                                <a href="@Url.Action("Proposal", "New_Policy")" data-toggle="collapse" data-target="#second-level-1">New Policy</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RenewalList", "Policy_Renewal")" data-toggle="collapse" data-target="#second-level-2">Policy Renewal</a>

                            </li>
                            <li>
                                <a href="@Url.Action("PendingProposal", "Policy_Endorsement")" data-toggle="collapse" data-target="#second-level-3">Policy Endorsement</a>
                            </li>
                        </ul>
                      </div>

                    <a href="#" data-toggle="collapse" data-target="#first-level-3">MIS Reports<span class="caret arrow"></span></a>
                    <div id="first-level-3" class="collapse">
                        <ul>
                            <li>
                                <a href="@Url.Action("Sales_Target", "Sales_Target")" data-toggle="collapse" data-target="#second-level-2">Sales Target</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Sales_Achievement_report", "Sales_Achievement_report")" data-toggle="collapse" data-target="#second-level-3">Sales Achievement report</a>
                            </li>
                            <li>
                                <a href="@Url.Action("MeetingSchedule", "MeetingSchedule")" data-toggle="collapse" data-target="#second-level-4">Meeting Schedule</a>
                            </li>
                            <li>
                                <a href="@Url.Action("PendingReceivableReport", "ReceivableReport")" data-toggle="collapse" data-target="#second-level-5">Receivable Report</a>
                            </li>
                            <li>
                                <a href="@Url.Action("PayableReport", "PayableReport")" data-toggle="collapse" data-target="#second-level-6">Payable Report</a>
                            </li>
                        </ul>
                    </div>
                    <a href="#" data-toggle="collapse" data-target="#first-level-4">Finance<span class="caret arrow"></span></a>
                    <div id="first-level-4" class="collapse">
                        <ul>
                            <li>
                                <a href="@Url.Action("PendingReceivableReport", "ReceivableReport")" data-toggle="collapse" data-target="#second-level-5">Receivable</a>
                            </li>
                            <li>
                                <a href="@Url.Action("PayableReport", "PayableReport")" data-toggle="collapse" data-target="#second-level-6">Payable</a>
                            </li>
                            <li>
                                <a href="@Url.Action("PendingCustomerInvoice", "Customer_Invoice")" data-toggle="collapse" data-target="#second-level-6">Customer Invoice</a>
                            </li>
                        </ul>
                    </div>
                        <a href="@Url.Action("Daily_Activity_report", "Daily_Activity_report")" data-toggle="collapse" data-target="#first-level-5">Daily Activity Report</a>
                                </ul>
                            </div>
</div>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a href="#menu-toggle" class="menu-icon" id="menu-toggle"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")"><img src="~/Images/logo.png" width="60" /></a></li>
                    <li><a href="@Url.Action("Index", "Home")"><img src="~/Images/home.png" /></a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()        
    </div>
    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    
    @RenderSection("scripts", required: false)
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
