<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Capital Insurance Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="nav nav-pills nav-stacked">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#first-level-1">Admin<span class="caret arrow"></span></a>
                    <div id="first-level-1" class="collapse">
                        <ul>
                            <li>
                                <a href="@Url.Action("Customer","admin")" data-toggle="collapse" data-target="#second-level-1">Customer</a>
                                @*<a href="@Url.Action("Designation", "admin")" data-toggle="collapse" data-target="#second-level-1">Employee Designation</a>*@
                                <a href="@Url.Action("Employee", "admin")" data-toggle="collapse" data-target="#second-level-1">Sales Manager</a>
                                <a href="@Url.Action("Insurance", "admin")" data-toggle="collapse" data-target="#second-level-1">Insurance Company</a>
                                <a href="@Url.Action("InsuranceProduct", "admin")" data-toggle="collapse" data-target="#second-level-1">Insurance Product</a>
                                @*<a href="@Url.Action("Policy", "admin")" data-toggle="collapse" data-target="#second-level-1">Insurance Type</a>*@
                                @*<div id="second-level-1" class="collapse">
                            <ul>
                                <li>
                                    <a href="#">Second Level Menu 1</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Menu 2</a>
                                </li>
                            </ul>
                        </div>*@


                                @*<div id="second-level-2" class="collapse">
                            <ul>
                                <li>
                                    <a href="#">Second Level Menu 1</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Menu 2</a>
                                </li>
                            </ul>
                        </div>*@
                            </li>
                            @*<li class="aa"><a href="#">Sub Menu Item 1</a></li>
                    <li class="aa"><a href="#">Sub Menu Item 2</a></li>*@
                        </ul>
                    </div>

                    <a href="#" data-toggle="collapse" data-target="#first-level-2">New Policy<span class="caret arrow"></span></a>
                    <div id="first-level-2" class="collapse">
                        <ul>
                            <li>
                                <a href="@Url.Action("Proposal", "New_Policy")" data-toggle="collapse" data-target="#second-level-2">Proposal</a>
                                <a href="@Url.Action("Pendingissue", "New_Policy")" data-toggle="collapse" data-target="#second-level-2">Issue</a>
                            </li>
                        </ul>
                      </div>

                    <a href="#" data-toggle="collapse" data-target="#first-level-3">Policy Renewal<span class="caret arrow"></span></a>
                    <div id="first-level-3" class="collapse">
                        <ul>
                            <li>
                                <a href="@Url.Action("RenewalList", "Policy_Renewal")" data-toggle="collapse" data-target="#second-level-3">Proposal</a>
                                <a href="@Url.Action("Pendingissue", "Policy_Renewal")" data-toggle="collapse" data-target="#second-level-3">Issue</a>
                            </li>
                        </ul>
                    </div>

                    <a href="#" data-toggle="collapse" data-target="#first-level-4">Policy Endorsement<span class="caret arrow"></span></a>
                    <div id="first-level-4" class="collapse">
                        <ul>
                            <li>
                                <a href="@Url.Action("PendingProposal", "Policy_Endorsement")" data-toggle="collapse" data-target="#second-level-4">Proposal</a>
                                <a href="@Url.Action("Pendingissue", "Policy_Endorsement")" data-toggle="collapse" data-target="#second-level-4">Issue</a>
                            </li>
                        </ul>
                    </div>
                                    <a href="@Url.Action("Daily_Activity_report", "Daily_Activity_report")" data-toggle="collapse" data-target="#first-level-5">Daily Activity Report</a>
                                    <a href="@Url.Action("Sales_Target", "Sales_Target")" data-toggle="collapse" data-target="#first-level-6">Sales Target</a>
                                    <a href="@Url.Action("Sales_Achievement_report", "Sales_Achievement_report")" data-toggle="collapse" data-target="#first-level-7">Sales Achievement report</a>
                                    <a href="@Url.Action("PendingCustomerInvoice", "Customer_Invoice")" data-toggle="collapse" data-target="#first-level-8">Customer Invoice</a>
                                    <a href="@Url.Action("MeetingSchedule", "MeetingSchedule")" data-toggle="collapse" data-target="#first-level-9">Meeting Schedule</a>
                                    <a href="@Url.Action("PendingReceivableReport", "ReceivableReport")" data-toggle="collapse" data-target="#first-level-10">Receivable Report</a>
                                    <a href="@Url.Action("PayableReport", "PayableReport")" data-toggle="collapse" data-target="#first-level-10">Payable Report</a>
                                    @*<div id="first-level-2" class="collapse">
                        <ul>
                            <li>

                                <a href="@Url.Action("Create", "Proposal")" data-toggle="collapse" data-target="#second-level-2">Proposal<span class="caret arrow"></span></a>

                            </li>

                        </ul>
                    </div>*@

                                </ul>
                            </div>
                            <!-- /#sidebar-wrapper -->
                            <!-- Page Content -->
                            @*<div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">

                        </div>
                    </div>
                </div>
            </div>*@
                            <!-- /#page-content-wrapper -->
</div>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                    <a href="#menu-toggle" class="menu-icon" id="menu-toggle"></a>
               
                @*@Html.ActionLink("Capital Insurance", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")"><img src="~/Images/logo.png" width="60" /></a></li>
                    <li><a href="@Url.Action("Index", "Home")"><img src="~/Images/home.png" /></a></li>
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
