@model Capital.Domain.Customer
@{string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(); }
<div class="row">
    <div class="col-md-12">
        <div class="row form-group">
            <div class="col-md-3">
                <label>Customer Name</label>
                @Html.HiddenFor(m => m.CusId)
                @Html.TextBoxFor(m => m.CusName, new { @class = "form_input"})
                @Html.ValidationMessageFor(m => m.CusName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Customer Short Name</label>
                @Html.TextBoxFor(m => m.CusShortName, new { @class = "form_input half" })
                @Html.ValidationMessageFor(m => m.CusShortName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Customer Category</label>
                @Html.DropDownListFor(m => Model.CusCatId, (SelectList)ViewBag.CustomerCategory, "Select Category", new { @class = "form_input", autocomplete = "off" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Region</label>
                @Html.DropDownListFor(m => Model.RegionId, (SelectList)ViewBag.Regions, "Select Region", new { @class = "form_input", autocomplete = "off" })
            </div>
            <div class="col-md-6">
                <label>No of Employees</label>
                @Html.TextBoxFor(m => m.EmployeeNo, new { @class = "form_input" })
            </div>
            <div class="col-md-6">
                <label>No of Premises</label>
                @Html.TextBoxFor(m => m.PremisNo, new { @class = "form_input" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Sales Manager</label>
                @Html.DropDownListFor(m => Model.SalesMgId, (SelectList)ViewBag.SalesManager, "Select Manager", new { @class = "form_input", autocomplete = "off" })
            </div>
        </div>
    </div>
    @*<div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>prospective client</label>
                <div class="row">
                    @Html.HiddenFor(m => m.IsProspectiveClient, new { @value="Yes"})
                    <div class="col-md-12 main-check1">
                        <label class="check1">Yes</label>
                        <input type="checkbox" id="YesChkBox" checked="checked">
                        <label class="check1">No</label>
                        <input type="checkbox" id="NoChkBox">
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

<hr />
<h2>Contact Details</h2>
<div class="row">
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Name</label>
                @Html.TextBoxFor(m => m.ContactName, new { @class = "form_input" })
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Designation</label>
                @Html.TextBoxFor(m => m.Designation, new { @class = "form_input" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-6">
                <label>Office No.</label>
                @Html.TextBoxFor(m => m.OfficeNo, new { @class = "form_input" })
            </div>
            <div class="col-md-6">
                <label>Mobile No.</label>
                @Html.TextBoxFor(m => m.MobileNo, new { @class = "form_input" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Email ID</label>
                @Html.TextBoxFor(m => m.EmailId, new { @class = "form_input" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-6">
                <label>State</label>
                @Html.DropDownListFor(m => Model.StateId, (SelectList)ViewBag.State, "Select State", new { @class = "form_input", autocomplete = "off" })
            </div>

            <div class="col-md-6">
                <label>Country</label>
                @Html.DropDownListFor(m => Model.CountryId, (SelectList)ViewBag.Regions, "Select Country", new { @class = "form_input", autocomplete = "off" })
            </div>
        </div>
    </div>
</div>

<hr />
<h2>Billing Address</h2>
<div class="row">
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Address 1</label>
                @Html.TextBoxFor(m => m.Address1, new { @class = "form_input" })
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Address 2</label>
                @Html.TextBoxFor(m => m.Address2, new { @class = "form_input" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Address 3</label>
                @Html.TextBoxFor(m => m.Address3, new { @class = "form_input" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-6">
                <label>Credit Period</label>
                @Html.TextBoxFor(m => m.CreditPeriod, new { @class = "form_input" })
            </div>
            <div class="col-md-6">
                <label>Credit Amount</label>
                @Html.TextBoxFor(m => m.CreditAmount, new { @class = "form_input numbers-only", @style = "text-align:right" })
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 45 && $(this).val().indexOf('-') == -1) || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) {
            }
            else {
                return false;
            }
        });

    })
    //$("#YesChkBox").change(function () {
    //    if ($("#YesChkBox").prop("checked"))
    //    {
    //        $("#IsProspectiveClient").val("Yes");
    //        $("#NoChkBox").prop('checked', false);
    //    }        
    //});
    //$("#NoChkBox").change(function () {
    //    if ($("#NoChkBox").prop("checked")) {
    //        $("#IsProspectiveClient").val("No");
    //        $("#YesChkBox").prop('checked', false);
    //    }
    //});
</script>