@model List<Capital.Domain.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
 
}
<script>
    function Create() {
        var url = '@Url.Action("Create")';
        location.href = url;
    }
    function Exit() {
        var url = '@Url.Action("Index","Home")';
        location.href = url;
    }
    $(document).ready(function () {

        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,

            "timeOut": "0",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != "") {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != "") {
            toastr.error('@TempData["error"]');
        }
    });

    function Filter() {
        $("#Cus_list").addClass("fade");
      
        var Customer = $("#cus").val().trim();
        var url = '@Url.Action("CustomerList")';
        url += "?Customer=" + encodeURIComponent(Customer);
        $("#Cus_list").load(url, function () {
            $("#Cus_list").removeClass("fade");
        });
    }
</script>
<div class="container content-in">
    <div class="row">
        <h1>Customer List</h1>
    </div>
    <div class="row">
        @*<div class="col-md-2">
            <div class="row">
                <div class="col-md-6">
                    <label>From</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>To</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>*@
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label>Customer</label>
                    <input id="cus" class="form_input" placeholder="Search for Customer" onkeyup="Filter()" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="Cus_list">
        @Html.Action("CustomerList")
    </div>
        <div class="row">
            <hr />
            <div class="col-md-offset-8 col-md-4">
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                <button type="button" class="form-button right" onclick="Create()">Create</button>
            </div>
        </div>
    </div>
