@model List<Capital.Domain.PolicyIssue>
@using GridMvc.Html


<script>

    function MoreDetails(id,st)
    {
        var url = '@Url.Action("Create", "Policy_Renewal")';
        url += '/' + id;
        window.location = url;
    }
</script>
<table class="table table-bordered table-hover" id="aaa" data-placement="bottom">
    <thead>
        <tr class="grid_heading">

            <th width="12%">Transaction No.</th>
            <th width="5%">Policy No.</th>
            <th width="10%">Client</th>
            <th width="10%">Contact Name</th>
            <th width="10%">Insured Name</th>
            <th width="10%">Insurance Company</th>
            <th width="7%">Product</th>
            <th width="7%" class="text-right">Total Premium</th>
            <th width="7%">Renewal Date</th>
            <th width="10%">Sales Manager</th>
            <th width="7%">Renew</th>

        </tr>
    </thead>
    <tbody class="grid_row">
        @{

            for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td> @Model[i].StrTranNumber </td>
                    <td> @Model[i].PolicyNo </td>
                    <td> @Model[i].CusName </td>
                    <td> @Model[i].CustContPersonName </td>
                    <td> @Model[i].InsuredName </td>
                    <td> @Model[i].InsCmpName </td>
                    <td> @Model[i].InsPrdName </td>
                    <td class="text-right"> @Model[i].TotalPremium </td>
                    <td> @Model[i].RenewalDate.ToString("MM/dd/yyyy") </td>
                    <td> @Model[i].SalesMgName</td>

                    <td>
                        <a onclick="MoreDetails(@Model[i].PolicyId, '@Model[i].Renew')">@Model[i].Renew</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>