
@model List<Capital.Domain.RenewalSummary>
@using GridMvc.Html

<script>


    function ShowDetails(id) {
        var url = '@Url.Action("PolicyDetailsPopup", "PolicyRenewalSummaryReport")';
        url += "?id=" + id;
        $("#div-details").text('Loading...');
        $("#div-details").load(url);
        $('#details-modal').modal('show');
    }

 </script>
<table class="table table-bordered table-hover" id="aaa" data-placement="bottom">
    <thead>
        <tr class="grid_heading">
         
            <th width="20%"><h1>Month</h1></th>
            <th width="25%" class=""><h1>For Renewal</h1></th>
            <th width="25%"><h1>Renewed</h1></th>
            <th width="5%"><h1></h1></th>
        </tr>
    </thead>
    <tbody class="grid_row">
        @{
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td> @Model[i].Month </td>
                        <td> @Model[i].CountofExpired </td>
                        <td> @Model[i].CountofRenewed </td>  
                        <td>
                            <input type="button" class="form-button4" onclick="ShowDetails(@Model[i].MonthCode)" value="Details" title="Click to see more details" />
                        </td>
                    </tr>
                }
        }
    </tbody>
</table>
<!-- modal to show details -->
<div id="details-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="div-details">
                Loading...
            </div>
        </div>
    </div>
</div>
