@model IEnumerable<Capital.Domain.SalesAchievement>

<div class="table-responsive scroll3">
    <table class="table table-bordered" id="tab_logic">
        <thead>
            <tr class="grid_heading">
                      <th class="span">
                    <table class="table table-bordered" id="tab_logic">
                        <thead>
                            <tr><th colspan="5"><center></center></th></tr>
                            <tr>
                            <th width="30%">MANAGER &nbsp;</th>
                            <th width="20%">YEARLY TARGET</th>
                            <th width="20%">ACHIEVED</th>
                            <th width="22%">EXCESS</th>
                            <th width="8%">SF</th>
                            </tr>
                        </thead>
                    </table>
                </th>
                <th class="span">
                    <table class="table table-bordered" id="tab_logic">
                        <thead>
                            <tr><th colspan="7"><center>1st Quarter</center></th></tr>
                            <tr>
                            <th width="12%">Q1T</th>
                            <th width="12%">JAN</th>
                            <th width="12%">FEB</th>
                            <th width="12%">MAR</th>
                            <th width="25%">ACHIEVED</th>
                            <th width="18%">EXCESS</th>
                            <th width="12%">SF</th>
                            </tr>
                        </thead>
                    </table>
                </th>
                <th class="span">
                    <table class="table table-bordered" id="tab_logic">
                        <thead>
                            <tr><th colspan="7"><center>2nd Quarter</center></th></tr>
                            <tr>
                            <th width="12%">Q2T</th>
                            <th width="12%">APR</th>
                            <th width="12%">MAY</th>
                            <th width="12%">JUN</th>
                            <th width="25%">ACHIEVED</th>
                            <th width="18%">EXCESS</th>
                            <th width="12%">SF</th>
                            </tr>
                        </thead>
                    </table>
                </th>
                <th class="span">
                    <table class="table table-bordered" id="tab_logic">
                        <thead>
                            <tr><th colspan="7"><center>3rd Quarter</center></th></tr>
                            <tr>
                            <th width="12%">Q3T</th>
                            <th width="12%">JUL</th>
                            <th width="12%">AUG</th>
                            <th width="12%">SEP</th>
                            <th width="25%">ACHIEVED</th>
                            <th width="18%">EXCESS</th>
                            <th width="12%">SF</th>
                            </tr>
                        </thead>
                    </table>
                </th>
                <th class="span">
                    <table class="table table-bordered" id="tab_logic">
                        <thead>
                            <tr><th colspan="7"><center>4th Quarter</center></th></tr>
                            <tr><th width="12%">Q4T</th>
                            <th width="12%">OCT</th>
                            <th width="12%">NOV</th>
                            <th width="12%">DEC</th>
                            <th width="25%">ACHIEVED</th>
                            <th width="18%">EXCESS</th>
                            <th width="12%">SF</th>
                            </tr>
                        </thead>
                    </table>
                </th>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                       <td class="span">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="30%" style="word-wrap:break-word;">@item.SalesMgName</td>
                                        <td width="20%" class="q1t">@item.TotalTarget</td>
                                        <td width="20%" class="q1t">@item.TotalAcvd</td>
                                        <td width="22%" class="q1t">@item.YExcess</td>
                                        <td width="8%" class="q1t">@item.YShortFall</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="12%" class="q1t">@item.Target1</td>
                                        <td width="12%">@item.Jan</td>
                                        <td width="12%">@item.Feb</td>
                                        <td width="12%">@item.Mar</td>
                                        <td width="25%" class="achived">@(item.Jan + item.Feb + item.Mar)</td>
                                        <td width="18%">@item.Q1Excess</td>
                                        <td width="12%" class="sf">@item.Q1Shortfall</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="12%" class="q1t">@(item.Target2 + (item.Q1Shortfall/3))</td>
                                        <td width="12%">@item.Apl</td>
                                        <td width="12%">@item.May</td>
                                        <td width="12%">@item.Jun</td>
                                        <td width="25%" class="achived">@(item.Apl + item.May + item.Jun)</td>
                                        <td width="18%">@item.Q2Excess</td>
                                        <td width="12%" class="sf">@item.Q2Shortfall</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="12%" class="q1t">@(item.Target3 + (item.Q1Shortfall / 3) - (item.Q2Excess / 2) + (item.Q2Shortfall / 2))</td>
                                        <td width="12%">@item.July</td>
                                        <td width="12%">@item.Aug</td>
                                        <td width="12%">@item.Sep</td>
                                        <td width="25%" class="achived">@(item.July + item.Aug + item.Sep)</td>
                                        <td width="18%">@item.Q3Excess</td>
                                        <td width="12%" class="sf">@item.Q3Shortfall</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="span">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="12%" class="q1t">@(item.Target4 + (item.Q1Shortfall / 3) - (item.Q2Excess / 2) + (item.Q3Shortfall) - (item.Q3Excess))</td>
                                        <td width="12%">@item.Oct</td>
                                        <td width="12%">@item.Nov</td>
                                        <td width="12%">@item.Dec</td>
                                        <td width="25%" class="achived">@(item.Oct + item.Nov + item.Dec)</td>
                                        <td width="18%">@item.Q4Excess</td>
                                        <td width="12%" class="sf">@item.Q4Shortfall</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
    </table>
</div>
