@model Capital.Domain.DailyActivity
@{
    ViewBag.Title = "Index";
}
<script>

    function Exit() {
        var url = '@Url.Action("Index","Home")';
        location.href = url;
    }
  
    function Filter() {
        var type = $("#cboType").val();
        var id = $("#SalesMgId").val();
        var From = $("#txtFrom").val();
        var To = $("#txtTo").val();
        var url = '@Url.Action("DailyActivityReport")';
        url += '?EmpId=' + id + "&From=" + From + "&To=" + To + "&type=" + type;
        $('#Daily_Act').load(url, function () {
            $('#Daily_Act').removeClass("fade");
        });
     
    }


</script>
<div class="container content-in">
    <div class="row">
        <h1>Daily Activity Report</h1>
    </div>
    @using (Html.BeginForm("Create", null, FormMethod.Post, new { @class = "createFrom", @id = "box_form", @onsubmit = "return Validation()" }))
    {
        <div class="row">
            @*<div class="col-md-12">
                <div class="row">*@
            <div class="col-md-2">
                <label>From</label>
                <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input id="txtFrom" value="@System.DateTime.Today.AddMonths(-1).ToString("dd-MMMM-yyyy")" class=" form_input" onchange="Filter()" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="col-md-2">
                <label>To</label>
                <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyy")" class="form_input" onchange="Filter()" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Employee</label>
                @Html.DropDownListFor(m => Model.SalesMgId, (SelectList)ViewBag.SalesManager, "Select Sales Manager", new { @class = "form_input", autocomplete = "off", @onchange = "Filter()" })
            </div>
            <div class="col-md-2">
                <label>Type</label>
                <select id="cboType" class="form_input" onchange="Filter(this.value)">
                    <option value="all" selected>All</option>
                    <option value="CC">CC</option>
                    <option value="FA">FA</option>
                    <option value="FC">FC</option>
                    <option value="SC">SC</option>
                </select>
            </div>
            @*<div class="col-md-4 ">
                                <div class="col-md-3 pmtop">
                                    <div class="reddot"></div>
                                    <span id="redcount">@ViewBag.redcount

                                    </span>

                </div>
                                @*<div class="col-md-3 pmtop">
                                    <div class="greendot"></div>123
                                </div>
                                <div class="col-md-3 pmtop">
                                    <div class="yellowdot"></div>123
                                </div>
                                <div class="col-md-3 pmtop">
                                    <div class="bluedot"></div>123
                                </div>*@

            @*</div>*@

        </div>
        <br />
        <div id="Daily_Act">
            @Html.Action("DailyActivityReport")
        </div>

        <div class="row">
            <hr />
            <div class="col-md-12 hrpart">

                <button type="button" class="form-button right" onclick="Exit()">Exit</button>

            </div>

        </div>
    }
</div>

