@model Capital.Domain.BussinessView
@{
    ViewBag.Title = "AddingFields";
}
<div class="container content-in">
    <div class="row">
        <h1>Business View</h1>
    </div>
    <div class="row">
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.Year, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">YEAR</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.Month, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">MONTH</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.Day, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">DAY</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.EMPNO, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">EMP NO</label>
        </div>
    </div>
    <div class="row">
            <div class="part4 col-md-3">
                @Html.CheckBoxFor(model => model.MANAGER, new { @class = "left1", autocomplete = "off" })
                <label for="name" class="left1">MANAGER</label>
            </div>
            <div class="part4 col-md-3">
                @Html.CheckBoxFor(model => model.INSUREDNAME, new { @class = "left1", autocomplete = "off" })
                <label for="name" class="left1">INSURED NAME</label>
            </div>
            <div class="part4 col-md-3">
                @Html.CheckBoxFor(model => model.CUSTOMER, new { @class = "left1", autocomplete = "off" })
                <label for="name" class="left1">CUSTOMER</label>
            </div>
            <div class="part4 col-md-3">
                @Html.CheckBoxFor(model => model.DESIGNATEDNAME, new { @class = "left1", autocomplete = "off" })
                <label for="name" class="left1">DESIGNATED NAME</label>
            </div>
        </div>
    <div class="row">
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.DESIGNATION, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">DESIGNATION</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.MOBILENO, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">MOBILE NO</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.EMAIL, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">EMAIL</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.TYPEOFBIZ, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">TYPE OF BIZ</label>
        </div>
    </div>
    <div class="row">
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.INSCOMPANY, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">INS COMPANY</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.POLICYNO, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">POLICY NO</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.INCEPTIONDATE, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">INCEPTION DATE</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.EXPIRYDATE, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">EXPIRY DATE</label>
        </div>
    </div>
    <div class="row">
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.RENEWALDATE, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">RENEWAL DATE</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.ADDED, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">ADDED</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.DELETED, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">DELETED</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.BASICPREMIUM, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">BASIC PREMIUM</label>
        </div>
    </div>
    <div class="row">
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.POLICYFEE, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">POLICY FEE</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.COMMISSIONPERCENTAGE, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">COMMISSION PERCENTAGE</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.EXTRAPREMIUM, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">EXTRA PREMIUM</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.TOTALPREMIUM, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">TOTAL PREMIUM</label>
        </div>
    </div>
    <div class="row">
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.TOTALCOMMISSION, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">TOTAL COMMISSION</label>
        </div>
        <div class="part4 col-md-3">
            @Html.CheckBoxFor(model => model.AGEING, new { @class = "left1", autocomplete = "off" })
            <label for="name" class="left1">AGEING</label>
        </div>
        </div>
    <div class="row">
            <div class="col-md-12 hrpart">
            <input type="button" class=" form-button right" onclick="Proceed()" value="Proceed" />
        </div>
    </div>
</div>

