@model List<Capital.Domain.PolicyIssue>
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
      function Exit() {
        var url = '@Url.Action("Index","Home")';
        window.location = url;
      }
    function ExportBussnessView() {
        var url = '@Url.Action("ExportBussnessView", "BusinessView")';
        window.location = url;
    }

    function Filter() {
        $("#Bussiness_View").addClass("fade");
        var Cmpy = $("#compy").val().trim();
        var PolicyNo = $("#PolicyNo").val().trim();
        var Client = $("#client").val().trim();
        var SalesManager = $("#salesmanager").val().trim();
        var url = '@Url.Action("BusinessViewDetailsFilter")';
        url += "?Company=" + encodeURIComponent(Cmpy) + "&PolicyNo=" + encodeURIComponent(PolicyNo) + "&Client=" + encodeURIComponent(Client) + "&SalesManager=" + encodeURIComponent(SalesManager);
       $("#Bussiness_View").load(url, function () {
        $("#Bussiness_View").removeClass("fade");
        });
    }

    @*function OnTransactionChanged(sender) {
        var id = $(sender).val();
        var url = '@Url.Action("LoadTransactions"';
        url = url + "?TrnId=" + id;
        $("#divTransaction".load(url)
        }*@


</script>


<div class="container content-in">
    <div class="row">
        <h1>Business View</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label>Insurance Company</label>
                    <input id="compy" class="form_input" placeholder="Search for Company" onkeyup="Filter()" />
                </div>
                <div class="col-md-6">
                    <label>Policy No.</label>
                    <input id="PolicyNo" class="form_input" placeholder="Search for Policy No." onkeyup="Filter()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label>Customer</label>
                    <input id="client" class="form_input" placeholder="Search for Customer" onkeyup="Filter()" />
                </div>
                <div class="col-md-6">
                    <label>Manager</label>
                    <input id="salesmanager" class="form_input" placeholder="Search for Sales Manager" onkeyup="Filter()" />
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div id="Bussiness_View">
        @*@Html.Action("BusinessViewDetails")*@
        @Html.Partial("_BussinessViewDetails",Model)
    </div>
       <div class="row">
        <hr />
        <div class="col-md-12 hrpart">
            @*<input type="button" class="form-button" onclick="Previous()" value="Previous" title="Previous Policy Renewal">*@
            <input type="button" class=" form-button right" onclick="ExportBussnessView()"value=" ExportToExcel" />
            <input type="button" class=" form-button right" onclick="Exit()" value="Exit" />
        </div>
    </div>
</div>

