@model List<Capital.Domain.PolicyIssue>
@{
    ViewBag.Title = "Index";
}
<script>
    function Create() {
        var url = '@Url.Action("Create")';
        location.href = url;
    }
    function Exit() {
        var url = '@Url.Action("Index","Home")';
        location.href = url;
    }
    function Filter() {
        $("#New_Policy").addClass("fade");
        var FromDate = $("#txtFrom").val().trim();
        var ToDate = $("#txtTo").val().trim();
        var Client = $("#client").val().trim();
        var SalesManager = $("#salesmanager").val().trim();
        var url = '@Url.Action("NewPolicyList")';
        url += "?FromDate=" + FromDate + "&ToDate=" + ToDate + "&Client=" + encodeURIComponent(Client) + "&SalesManager=" + encodeURIComponent(SalesManager);
        $("#New_Policy").load(url, function () {
            $("#New_Policy").removeClass("fade");
        });
    }
    $(document).ready(function () {

        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,

            "timeOut": "0",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != "") {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != "") {
            toastr.error('@TempData["error"]');
        }
    });
</script>
<div class="container content-in">
    <div class="row">
        <h1>Policy List</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label>From</label>
                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input id="txtFrom" value="@ViewBag.Fromdate.ToString("dd-MMMM-yyyy")" class=" form_input" onchange="Filter()" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>To</label>
                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input id="txtTo" value="@System.DateTime.Now.ToString("dd-MMMM-yyy")" class="form_input" onchange="Filter()" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label>Client</label>
                    <input id="client" class="form_input" placeholder="Search for Client" onkeyup="Filter()" />
                </div>
                <div class="col-md-6">
                    <label>Sales Manager</label>
                    <input id="salesmanager" class="form_input" placeholder="Search for Sales Manager" onkeyup="Filter()" />
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div id="New_Policy">
        @Html.Action("NewPolicyList")
    </div>
    <div class="row">
        <hr />
        <div class="col-md-12 hrpart">
            <button type="button" class="form-button right" onclick="Create()">Create</button>
            <input type="button" class=" form-button right" onclick="Exit()" value="Exit" />
        </div>
    </div>
</div>