@model List<Capital.Domain.PolicyIssue>
@using GridMvc.Html
@{
    ViewBag.Title = "PendingPolicyForCommitments";
}
@{string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
ViewBag.actionName = actionName;
}
<script>
    function Exit() {
        var url = '@Url.Action("Index","Home")';
        location.href = url;
    }
</script>
<div class="container content-in">

    <div class="row">
       @if(ViewBag.actionName == "PendingPolicyForCommitments")
        {
        <h1>Pending Policy Issue for Payment Commitments</h1>
        }
        else
        {
        <h1>Pending Policy Issue for Payment Collection</h1>
        }
        </div>
   
        <div class="table-responsive scroll3">
           
            @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(m => m.StrTranNumber).Titled("Transaction No.").SetWidth(5);
        columns.Add(m => m.CusName).Titled("Client").SetWidth(20);
        columns.Add(m => m.CustContPersonName).Titled("Contact Name").SetWidth(15);
        columns.Add(m => m.InsuredName).Titled("Insured Name").SetWidth(10);
        columns.Add(m => m.InsCmpName).Titled("Insurance Company").SetWidth(10);
        columns.Add(m => m.InsPrdName).Titled("Product").SetWidth(10);
        columns.Add(m => m.TotalPremium).Titled("Total Premium").SetWidth(5);
        columns.Add(m => m.RenewalDate).Format("{0:dd/MM/yyyy}").Titled("Renewal Date").SetWidth(5);
        columns.Add(m => m.SalesMgName).Titled("Sales Manager").SetWidth(5);
       if(@ViewBag.actionName == "PendingPolicyForCommitments")
        { 
        columns.Add().Encoded(false).Sanitized(false).SetWidth(5).Css("cent").RenderValueAs(m => @<a href="@Url.Action("PaymentCommitments", new { Id = m.PolicyId, Type = 2 })">Select</a>);
        }
        else
       {
           columns.Add().Encoded(false).Sanitized(false).SetWidth(5).Css("cent").RenderValueAs(m => @<a href="@Url.Action("PaymentCommitments", new { Id = m.PolicyId, Type = 3 })">Select</a>);
       }

    }).WithPaging(15)
        </div>

    <div class="row">
        <hr />
        <div class="col-md-12 hrpart">
          
            <input type="button" class=" form-button right" onclick="Exit()" value="Exit" />
        </div>
    </div>
</div>


