@model Capital.Domain.SalesManager
<div class="row">
    <div class="col-md-12">
        <div class="row form-group">
            <div class="col-md-3">
                <label>Employee ID</label>
                @Html.TextBoxFor(m => m.SalesMgCode, new { @class = "form_input half" })
                @Html.ValidationMessageFor(m => m.SalesMgCode, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Employee Name</label>
                @Html.TextBoxFor(m => m.SalesMgName, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.SalesMgName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-6">
                <label>Gender</label>
                <input type="checkbox" name="" value=""> Male
                <input type="checkbox" name="" value=""> Female
            </div>
            <div class="col-md-6">
                <label>marital status</label>
                <select class="form_input">
                    <option value="">Single</option>
                    <option value="">Married</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Designation</label>
                <select class="form_input">
                    <option value="">Designation 1</option>
                    <option value="">Designation 2</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            @*<div class="col-md-6">
                <label>Designation ID</label>
                <input type="text" class="form_input" />
            </div>*@
            <div class="col-md-6">
                <label>Nationality</label>
                <select class="form_input">
                    <option value="">India</option>
                    <option value="">Qatar</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Department</label>
                <input type="text" class="form_input nzero" />
                <button type="button" class="create right">...</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Location</label>
                <input type="text" class="form_input nzero" />
                <button type="button" class="create right">...</button>
            </div>
        </div>
    </div>
</div>

<hr />
<h2>Current Address</h2>
<div class="row">

    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Address 1</label>
                @Html.TextBoxFor(m => m.CurrentAddress1, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.CurrentAddress1, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Address 2</label>
                @Html.TextBoxFor(m => m.CurrentAddress2, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.CurrentAddress2, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Address 3</label>
                @Html.TextBoxFor(m => m.CurrentAddress1, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.CurrentAddress2, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-6">
                <label>State</label>
                <select class="form_input">
                    <option value="">State 1</option>
                    <option value="">State 2</option>
                </select>
            </div>

            <div class="col-md-6">
                <label>Country</label>
                <select class="form_input">
                    <option value="">Country 1</option>
                    <option value="">Country 2</option>
                </select>
            </div>
        </div>
    </div>

</div>
<hr />
<h2>Permanent Address</h2>
<div class="row">

    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Address 1</label>
                @Html.TextBoxFor(m => m.PermanantAddress1, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.PermanantAddress1, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Address 2</label>
                @Html.TextBoxFor(m => m.PermanantAddress2, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.PermanantAddress2, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Address 3</label>
                @Html.TextBoxFor(m => m.PermanantAddress3, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.PermanantAddress3, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-6">
                <label>State</label>
                @Html.TextBoxFor(m => m.PermanantState, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.PermanantState, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                <label>Country</label>
                <select class="form_input">
                    <option value="">Country 1</option>
                    <option value="">Country 2</option>
                </select>
            </div>
        </div>
    </div>

</div>
<hr />
<h2>Contact Details</h2>
<div class="row">

    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Qatar contact number</label>
                @Html.TextBoxFor(m => m.QuatarContactNo, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.QuatarContactNo, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Official Email</label>
                @Html.TextBoxFor(m => m.OfficeEmail, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.OfficeEmail, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Home country contact number</label>
                @Html.TextBoxFor(m => m.HomeCountryContactNo, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.HomeCountryContactNo, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Personal Email</label>
                @Html.TextBoxFor(m => m.PersonalEmail, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.PersonalEmail, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row form-group">

            <div class="col-md-6">
                <label>Passport No.</label>
                @Html.TextBoxFor(m => m.PassportNo, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.PassportNo, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label>Visa / Residence ID</label>
                @Html.TextBoxFor(m => m.VisaOrResId, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.VisaOrResId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <label>Issue Date</label>
                <input type="text" class="form_input" />
            </div>
            <div class="col-md-3">
                <label>End Date</label>
                <input type="text" class="form_input" />
            </div>
            <div class="col-md-3">
                <label>Issue Date</label>
                <input type="text" class="form_input" />
            </div>
            <div class="col-md-3">
                <label>End Date</label>
                <input type="text" class="form_input" />
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="row form-group">
            <div class="col-md-12">
                <label>Date of Joining</label>
                @Html.TextBoxFor(m => m.DateOfJoining, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.DateOfJoining, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12">
                <label>Date of Birth</label>
                @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form_input" })
                @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
        </div>
    </div>
</div>

